

@{
    ViewData["Title"] = "Ejecucion";
}

<h1>Ejecución</h1>

<style>
    p {
        font-size: 18px;
        color: #333;
        font-family: Arial, sans-serif;
        line-height: 1.5;
        margin-bottom: 10px;
        border: 1px solid #ccc; /* Agrega un borde de 1px sólido en color gris claro */
        padding: 10px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        max-width: 800px;
        margin: auto;
        margin-top: 20px;
    }

    th, td {
        text-align: left;
        padding: 8px;
        border: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    textarea {
        width: 100%;
        max-width: 800px; /* Ajusta este valor al ancho máximo deseado */
        height: 150px; /* Ajusta este valor a la altura deseada */
        padding: 8px;
        box-sizing: border-box;
        margin-top: 20px;
    }
    


</style>

<p>El candidato:</p> 
<ul>
    <li>Revisa continuamente los planes operativos y mide resultados.</li>
    <li> Establece planes de acción adecuados para el seguimiento y control de procesos o proyectos en tiempo y forma, alineados a los objetivos del negocio.</li>
    <li>Establece altos estándares de desempeño para sí mismo y para los demás con enfoque a los resultados.</li>
    <li>Busca siempre cumplir los resultados, toma la acción adecuada con aquellos que no están cumpliendo con los estándares de desempeño establecidos.</li>
   
</ul>


<p> <strong>Selecciona 1 o 2 preguntas sugeridas para evaluar esta competencia</strong>.</p>

<ol>
    <li>
        Qué mecanismos de monitoreo has aplicado para asegurar el éxito de un proyecto
       
        <ol type="a">
            <li>¿Cómo lo definiste?</li>
            <li>¿Qué obstáculos tuviste?</li>
            <li>¿Cómo lo resolviste?</li>
            <li>¿Cuál fue el resultado?</li>
            <li></li>

        </ol>
    </li>
    <li>
        Háblame de uno de tus proyectos más importantes
        <ol type="a">

            <li>¿Cuál era el objetivo?</li>
            <li>¿Cuál fue sido el resultado?</li>
           
        </ol>
    </li>
    <li>
        Háblame de uno proyecto en donde tuviste que cambiar el significativamente el alcance para poderlo lograr.
        <ol type="a">
        
            <li>¿Cómo lo manejaste?</li>
            <li>¿Que acciones llevaste a cabo?</li>
            <li>¿Qué decisión tomaste?</li>
            <li>¿Qué aprendiste?</li>
        </ol>

    </li>
    <li>
        ¿Cómo has evaluado el cumplimiento de los objetivos de tu equipo de trabajo?
        <ol type="a">
            <li>¿Qué y cómo lo hiciste?</li>
            <li>¿Qué acciones tomaste?</li>
            <li>¿Cuál fue el resultado?</li>
        </ol>
    </li>
</ol>

<p> <strong>Documenta brevemente las respuestas del candidato, de acuerdo con el MODELO STAR</strong>.</p>

<table>
    <tr>
        <th>Situación</th>
        <th>Tarea</th>
        <th>Acción</th>
        <th>Resultado</th>
    </tr>
    <tr>
        <td contenteditable="true" style="width: 300px;"></td>
        <td contenteditable="true" style="width: 300px;"></td>
        <td contenteditable="true" style="width: 300px;"></td>
        <td contenteditable="true" style="width: 300px;"></td>

    </tr>
</table>


<p> <strong>Comentarios / Observaciones Generales:</strong>.</p>

<div>
    <label for="comentarios"></label>
    <textarea id="comentarios" name="comentarios" rows="5"></textarea>
</div>


<p> <strong>Evalúa la respuesta del candidato de acuerdo con la escala de calificación:</strong>.</p>

<table>
    <tr>
        <th>Carece o N/A</th>
        <th>Conocimiento general</th>
        <th>Conocimiento sólido</th>
        <th>Conocimiento profundo</th>
        <th>Alto Dominio</th>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>

    </tr>
</table>


<label for="evaluacion">Evaluación:</label>
<select name="evaluacion" id="evaluacion">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select>

<button id="guardar-btn">Finalizar evaluación</button>

<button id="guardar-btnn">Evaluar otra competencia</button>

<script>
    // Agregar un listener de evento click al botón de guardar
    document.getElementById("guardar-btn").addEventListener("click", function () {
        // Realizar cualquier acción de guardado necesaria aquí, como enviar datos al servidor con AJAX
        // Una vez que el guardado esté completo, redirigir a la vista Usuarios
        window.location.href = "/Usuarios";
    });

    document.getElementById("guardar-btnn").addEventListener("click", function () {
        // Realizar cualquier acción de guardado necesaria aquí, como enviar datos al servidor con AJAX
        // Una vez que el guardado esté completo, redirigir a la vista Usuarios
        window.location.href = "/Rproblemas";
    });
</script>
