
@{
    ViewData["Title"] = "Evaluar";
}

<h1>Evaluar</h1>
<h2>Selecciona el tipo de colaborador</h2>


<div style="background-color: yellow; padding: 10px;">
    @Html.ActionLink("Colaborador Individual", "ColaboradorIndividual", "Usuarios", new { @class = "btn btn-primary m-2" })
</div>

<div style="background-color: deepskyblue; padding: 10px;">
    @Html.ActionLink("Líderes", "Lideres", "Usuarios", new { @class = "btn btn-primary m-2" })
</div>

<div style="background-color: mediumpurple; padding: 10px;">
    @Html.ActionLink("Todos los niveles", "ColaboradorIndividual", "Usuarios", new { @class = "btn btn-primary m-2" })
</div>


<form method="post" action="/Usuarios/Prueba">
    <input type="text" name="fileName" placeholder="Enter file name">
    <button type="submit">Save Excel File</button>
</form>



<div id="contenidoSeleccionado"></div>

<div id="divContribuidor">
    <h3>Competencias para Contribuidor individual:</h3>
    <ul>
        <li>Resolución de Problemas</li>
        <li>Aprendizaje Continuo</li>
        <li>Iniciativa</li>
        <li>Adaptabilidad</li>
        <li>Orientación a Resultados</li>
        <li>Orientación a Valores</li>
    </ul>
</div>

<div id="divLideres">
    <h3>Competencias para Líderes:</h3>
    <ul>
        <li>Visión de Negocio</li>
        <li>Influencia</li>
        <li>Liderazgo Equipo Inclusivo</li>
        <li>Ejecución</li>
        <li>Ownership</li>
        <li>Integridad y Coraje</li>
        <li>Enfoque Estratégico</li>
    </ul>
</div>

<div id="divTodos">
    <h3>Competencias para Todos los niveles:</h3>
    <ul>
        <li>Compatibilidad</li>
        <li>Orientación al Cliente</li>
        <li>Trabajo bajo Presión</li>
    </ul>
</div>

<script>
    $(document).ready(function () {
        $("#btnAceptar").click(function () {
            var tipoSeleccionado = $("#tipoColaborador").val();
            if (tipoSeleccionado == "contribuidor") {
                $("#contenidoSeleccionado").html($("#divContribuidor").html());
            } else if (tipoSeleccionado == "lideres") {
                $("#contenidoSeleccionado").html($("#divLideres").html());
            } else if (tipoSeleccionado == "todos") {
                $("#contenidoSeleccionado").html($("#divTodos").html());
            }
        });
    });
    function desplegar() {
        if (tipoSeleccionado == "contribuidor") {
            $("#contenidoSeleccionado").html($("#divContribuidor").html());
        } else if (tipoSeleccionado == "lideres") {
            $("#contenidoSeleccionado").html($("#divLideres").html());
        } else if (tipoSeleccionado == "todos") {
            $("#contenidoSeleccionado").html($("#divTodos").html());
        }
    }

    function seleccionarOpcion() {
        var opcionSeleccionada = $("#primer-deslizador").find("input:checked").val();
        $.ajax({
            type: "GET",
            url: "/Usuarios/DesplegarSegundoDeslizador",
            data: { opcionSeleccionada: opcionSeleccionada },
            success: function (result) {
                $("#segundo-deslizador").html(result);
            }
        });
    }
</script>


